.u-mt {
  &8 {
    margin-top: 0.8rem;
  }
  &12 {
    margin-top: 1.2rem;
  }
  &16 {
    margin-top: 1.6rem;
  }
  &24 {
    margin-top: 2.4rem;
  }
  &32 {
    margin-top: 3.2rem;
  }
  &40 {
    margin-top: 4.0rem;
  }
  &48 {
    margin-top: 4.8rem;
  }
  &56 {
    margin-top: 5.6rem;
  }
  &64 {
    margin-top: 6.4rem;
  }
}
