/*
color
------------------------------ */

$color-black: #333333;
$color-accent: #FC4DA5;
$color-white: #ffffff;
$color-grey: #eeeeee;

/*
font
------------------------------ */
$font-family-jp: 'Noto Sans JP', sans-serif;
$font-family-en: 'Roboto', sans-serif;
